* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: darkgray;
  cursor: pointer;
}

/* scroll */
.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* main */
.mainContainer nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.5%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(62 56 73);
  z-index: 2;
}

.mainContainer nav .logo {
  flex: 2 1 auto;
}

.mainContainer nav img {
  width: 258px;
  height: 72px;
}

.mainContainer nav .tab {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.mainContainer .mainPic {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(
      to top,
      rgba(237, 239, 248, 0.52),
      rgba(83, 14, 247, 0.73)
    ),
    url("Image/keyboard.jpg");
  position: relative;
  background-position: center;
  height: 94vh;
  background-size: cover;
  z-index: 1;
  margin-top: 3%;
}

.mainContainer .mainPic .intro {
  margin: 0 10%;
  text-align: right;
  color: rgb(255, 255, 255);
  padding-top: 10%;
  line-height: 6rem;
}

.mainContainer .mainPic .intro h1 {
  text-align: right;
  font-size: 2.3rem;
}

.mainContainer .mainPic .intro p {
  text-align: right;
  font-size: 1.8rem;
  color: rgb(241, 243, 243);
}

.mainContainer .mainPic .toProject {
  position: absolute;
  margin: 0 auto;
  font-size: 1.3rem;
  bottom: 20%;
  left: 40%;
}

.mainContainer .mainPic .toProjectArrow {
  position: absolute;
  bottom: 5%;
  left: 48%;
}

.mainContainer .mainPic .toProjectArrow a {
  font-size: 3rem;
  color: #ffdada;
}

.mainContainer .mainPic .toProjectArrow {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.mainContainer .mainPic .toProjectArrow {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* about */
.aboutContainer {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-image: url(Image/wood_background.jpg);
  background-size: cover;
  background-position: center;
}

.aboutContainer h1 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding-top: 5%;
}

.aboutContainer .aboutMain {
  background-color: blanchedalmond;
  margin: 0 15%;
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  align-content: center;
  border-radius: 2%;
}

.aboutContainer .aboutMain .myPic {
  flex: 1 1 40%;
  align-self: center;
  text-align: center;
}

.aboutContainer .aboutMain .texts {
  flex: 1 1 60%;
}

.aboutContainer .aboutMain .myPic img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.aboutContainer p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin: 0 5%;
  font-weight: bold;
}

/* project */
.projectContainer {
  font-family: "Ubuntu", sans-serif;
  padding-top: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url(Image/wood_background.jpg);
  background-size: cover;
  background-position: center;
}

.projectContainer > h1 {
  padding-top: 2%;
}

.projectContainer h3 {
  text-align: center;
}

.projectContainer .projectMain {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100%;
}

.projectContainer .projectMain .projectItems {
  display: flex;
  justify-content: space-evenly;
}

.projectContainer .projectMain .projectItems img {
  width: 80px;
  height: 80px;
}

.projectContainer .showDetail {
  margin-top: 5%;
  color: #eee6e6;
}

.projectContainer .showDetail h1 {
  height: 50vh;
}

/* project-detail */
.projectDetailContainer {
  background-image: url(Image/wood_background.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 8%;
  margin-top: 1%;
  border-radius: 5%;
  padding: 5% 0;
}

.projectDetailContainer img {
  width: 300px;
  height: 320px;
  padding-bottom: 3%;
  border-radius: 5%;
}

.projectDetailContainer .DetailImage {
  flex: 1 1 60%;
}

.projectDetailContainer .DetailImage img {
  width: 100%;
}

.sc-eCApGN.cfKeGQ.rec.rec-carousel {
  width: 80%;
}

.projectDetailContainer .DetailInform {
  border-radius: 5%;
  flex: 1 1 37%;
  background-color: blanchedalmond;
  margin-right: 3%;
}

.projectDetailContainer .DetailInform h2 {
  margin-bottom: 2%;
  font-weight: bold;
}

.projectDetailContainer .DetailInform .demoFrontBack {
  margin-bottom: 2%;
}

.projectDetailContainer .DetailInform .demoFrontBack a {
  color: blue;
}

.projectDetailContainer .builtWith {
  /* color: rgb(80, 94, 105); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectDetailContainer .builtWith ul {
  list-style: none;
}

.projectDetailContainer .builtWith ul {
  border: 2px solid rgb(88, 86, 88);
  margin: 2px;
  padding: 8px;
  border-radius: 15%;
  font-weight: bold;
}

.projectDetailContainer .phara {
  /* color: rgb(80, 94, 105); */
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0 5%;
  line-height: 20px;
  font-size: 0.8rem;
}

/* blog */

.blogContainer {
  background-image: url(Image/wood_background.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.blogContainer h1 {
  font-family: "Ubuntu", sans-serif;
  padding-top: 5%;
  font-size: 2.5rem;
  text-align: center;
}

.blogContainer .contents {
  border-radius: 5%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 2%;
  margin: 0% 15%;
  margin-top: 5%;
}

.blogContainer .contents .blogMap {
  border: 2px solid darksalmon;
  max-width: 32%;
  border-radius: 5%;
  padding: 3%;
  margin: 1%;
}

.blogContainer .contents img {
  width: 10vw;
  height: 10vh;
}

/* Contact */
.contactContainer {
  font-family: "Ubuntu", sans-serif;
  background-image: url(Image/wood_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 5%;
}

.contactContainer .p-heading1 {
  text-align: center;
  padding-top: 8%;
}

.contactContainer .contactMain {
  background-color: blanchedalmond;
  border-radius: 2%;
  margin: 3% 15%;
  text-align: center;
  padding: 2%;
}

.contactContainer .contactMain input {
  border: none;
  border-radius: 2%;
  padding: 1%;
  width: 50%;
  margin: 2%;
  height: 45px;
}

.contactContainer .contactMain h3 {
  color: black;
  padding-top: 2%;
  text-align: center;
}

.contactContainer .contactMain label {
  font-size: 1.5rem;
}

.contactContainer .contactMain textarea {
  width: 50%;
  height: 20vh;
  padding: 1%;
  border: none;
}

.contactContainer .contactMain .submitButton {
  background-color: darksalmon;
  border: none;
  margin-top: 2%;
  padding: 3px;
  font-size: 1.1rem;
  width: 30%;
  height: 40px;
}

/* Footer */
.footerContainer {
  font-family: "Ubuntu", sans-serif;
  background-color: #9d7272;
}

.footerContainer .icons {
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.footerContainer a {
  color: black;
  font-size: 3rem;
}

.footerContainer .licence {
  text-align: center;
  padding: 4% 0;
}

/* hamburger button */
.menuShow {
  display: none;
}
.menuIcon {
  display: none;
}
.hamburger {
  flex-flow: column;
  font-family: "Nunito", sans-serif;
}

.hamburger a {
  border-bottom: 2px solid #f0e68c;
  padding-bottom: 3%;
  color: black;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  /* main */
  .mainContainer .mainPic .intro {
    padding-top: 30%;
  }

  .mainContainer .hamburger {
    display: flex;
    align-items: center;
    font-size: 50px;
  }

  .mainContainer nav .tab {
    display: none;
  }

  .mainContainer nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2.5%;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(44, 33, 68);
    z-index: 2;
  }

  .mainContainer nav .logo {
    display: none;
  }

  /* hamburger menu */
  .menuIcon {
    display: block;
    font-size: 40px;
    cursor: pointer;
    color: purple;
  }

  .menuShow {
    display: block;
  }

  /* about */
  .aboutContainer p {
    font-size: 0.9rem;
  }

  .aboutContainer .aboutMain {
    margin: 0 15%;
  }

  .aboutContainer .aboutMain .myPic img {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    margin-bottom: 2%;
  }

  /* projectDetail */
  .projectDetailContainer .DetailImage {
    flex: 1 1 100%;
  }

  .projectDetailContainer img {
    width: 300px;
    height: 250px;
  }

  .projectDetailContainer .DetailInform {
    margin: 0 3%;
    margin-top: 2%;
  }

  .projectDetailContainer .DetailInform h1 {
    font-size: 1.5rem;
  }

  .projectDetailContainer .DetailInform a {
    font-size: 0.9rem;
  }

  .projectDetailContainer .DetailInform h2 {
    font-size: 1.2rem;
  }

  .projectDetailContainer .DetailInform li {
    font-size: 0.8rem;
  }

  .projectDetailContainer .DetailInform p {
    font-size: 0.8rem;
  }

  /* blog */
  .blogContainer .contents p:nth-child(2) {
    display: none;
  }

  /* contact */
  .contactContainer .contactMain input {
    width: 80%;
  }

  .contactContainer .contactMain textarea {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  /* main */
  .mainContainer .mainPic .intro h1 {
    text-align: left;
    font-size: 1.6rem;
  }

  .mainContainer .mainPic .intro p {
    text-align: left;
    font-size: 1.3rem;
    color: rgb(241, 243, 243);
  }

  /* about */
  .aboutContainer p {
    font-size: 0.7rem;
  }
  .aboutContainer .aboutMain {
    margin: 0 8%;
  }

  /* project */
  .projectContainer .projectMain .projectItems img {
    width: 50px;
    height: 50px;
  }

  /* move to project Arrow */
  .mainContainer .mainPic .toProjectArrow {
    position: absolute;
    bottom: 5%;
    left: 55%;
  }
}

@media only screen and (max-width: 330px) {
  .aboutContainer .aboutMain .myPic img {
    width: 150px;
    height: 150px;
  }
}
